<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label 'Type', class: 'control-label' %>
    <div class='controls'>
      <%= f.select(:type_account, options_for_select([['Cash', 'Cash'],['Bank card', 'Bank card'],['Money box', 'Money box']])) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :name_account %><br>
    <%= f.text_field :name_account %>
  </div>
  <div class="field">
    <%= f.label :amount_account %><br>
    <%= f.text_field :amount_account %>
    <%= f.select(:currency, options_for_select([['$', '$'],['Rub', 'Rub'],['UAH', 'UAH'],['EUR', 'EUR']])) %>
  </div>

    <div class='controls'>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
