<p id="notice"><%= notice %></p>


<p>
  <strong>Name account:</strong>
  <%= @account.name_account %>
</p>

<p>
  <strong>Amount account:</strong>
  <%= @account.amount_account %>
</p>

<p>
  <strong>Type account:</strong>
  <%= @account.id_type_account %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
